<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/navbar.ejs'); %>
    <h1>Hello! Welcome to <%=nameRestaurant%>. We serve the best pizzas :)</h1>

    <ul>
        <% pizzaMenu.forEach(pizza => { %>
        <li>Name: <%=pizza.name %></li>
        <li>Price: <%=pizza.price %>$</li>
        <% }) %>
    </ul>
    <%- include('partials/footer.ejs'); %>
</body>
</html>